.navbar {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  padding: 1rem 10%;

  .navContainer {
    width: 100vw;
    max-width: $desktop;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-weight: 500;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .navItems {
    .navButton {
      background-color: $white-color;
      color: $secondary-color;
      border: none;
      margin-left: 0.875rem;
      padding: 0.5rem 0.7rem;
      font-weight: 500;
      font-size: 0.875rem;
      cursor: pointer;
    }
  }
}
