//Colors

$primary-color: #003580;
$primary-darker: #00224f;
$secondary-color: #0071c2;
$details-color: #febb02;
$secondary-details-color: #008009;

$text-color: #333;
$white-color: #f8f9fa;
$gray-color: #bdbdbd;
$modal-bgc: #0000009c;

//Font-size
$lg-heading: 2rem;
$md-heading: 1.5rem;
$sm-heading: 1rem;

//Screen breakpoints
$sm-phone: 360px;
$tablet: 960px;
$desktop: 1200px;
$lg-desktop: 1600px;

//Font-family
$primary-ff: "Open Sans";
$secondar-ff: sans-serif;

//Selection
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";
